@import "tailwindcss";

@layer base {
    button {
        @apply px-3 py-1 rounded-sm;
        transition: filter ease-in-out 0.1s;
    }

    button:hover {
        filter: brightness(90%);
    }
}

@layer components {
    .button-primary {
        @apply bg-orange-600 text-white;
    }

    .button-secondary {
        @apply bg-gray-100;
    }
}