@import "tailwindcss";

@layer base {
    button {
        transition: filter ease-in-out 0.1s;
    }

    button:hover {
        filter: brightness(92%);
        cursor: pointer;
    }
}

@layer components {
    .button-primary {
        @apply px-3 py-1 rounded-sm bg-orange-600 text-white;
    }

    .button-secondary {
        @apply px-3 py-1 rounded-sm bg-gray-100;
    }

    .button-svg {
        @apply p-1;
    }

    .scrollbar-thin {
        scrollbar-width: thin;
        scrollbar-gutter: stable;
    }
}